:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #0e2c48;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;

  overflow-y: scroll;
  overflow-x: hidden;
}

.scene.one {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subheader-wrapper {
  position: relative;
  display: flex;
  margin-top: 0.6875rem;
}

.subheader {
  position: absolute;
  bottom: 0;
  font-weight: 500;
}

.section-one svg {
  /* width: -moz-fit-content;
  width: fit-content; */
  display: table;
  margin-right: auto;
}

.section-one img {
  max-width: 50vw;
  object-fit: contain;
  z-index: 9;
}

@media (min-width: 400px) {
  .section-one svg {
    height: 100%;
  }
  .section-one img {
    display: block;
  }
}

/* .section-one {
  background-color: #c2d3d6;
}

.section-two {
  background-color: steelblue;
}

.section-three {
  background-color: crimson;
}

.section-four {
  background-color: lime;
}

.section-five {
  background-color: grey;
} */
