:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: #0e2c48;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;

  overflow-y: scroll;
  overflow-x: hidden;
}

.scene.one {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-one__subheader-wrapper {
  position: relative;
  display: flex;
  margin-top: 0.6875rem;
}

.section-one__subheader {
  position: absolute;
  bottom: 0;
  font-weight: 500;
}

.section-one__heading-wrapper {
  display: flex;
  justify-content: space-between;
}

.section-one__scroll-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5vw;
}

.section-one__heading {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60vw;
  max-height: 65vh;
}

.section-one__my-photo {
  max-width: 50vw;
  object-fit: contain;
  z-index: 9;
}

.section-one__subheader > span {
  display: inline-block;
}

@media (min-width: 500px) {
  .section-one {
    flex-direction: row;
    justify-content: flex-start;
  }
  .section-one__my-photo {
    position: absolute;
    bottom: 0;
    max-height: 93%;
    min-height: 60%;
    max-width: 100%;
  }

  .section-one__heading {
    max-height: 100vh;
    margin: 0.3125rem;
  }

  .section-one__subheader-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .section-one__subheader {
    position: relative;
  }

  .section-one__scroll-icon {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  .section-one__subheader {
    font-size: 1.8vw;
  }
}

/* .section-one {
  background-color: #c2d3d6;
}

.section-two {
  background-color: steelblue;
}

.section-three {
  background-color: crimson;
}

.section-four {
  background-color: lime;
}

.section-five {
  background-color: grey;
} */
