:root {
  font-family: "Poppins", system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: #242b32;
  background-color: #c7d0d6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-moz-selection {
  color: #c7d0d6;
  background: #242b32;
}

::selection {
  color: #c7d0d6;
  background: #242b32;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c7d0d6;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #242b32;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #webgl-renderer {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
} */

html {
  scroll-behavior: smooth;
}

section {
  /* position: relative; */
  margin: 0.75rem;
}

a {
  color: #242b32;
}

button {
  border: none;
  background: inherit;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: #242b32;
}

.above-the-fold__title {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.05em;
}

.above-the-fold__subtitle {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 117.5%;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
}

.above-the-fold__subtitle span {
  overflow: hidden;
  display: inline-block;
  padding: 0 0.4rem;
}

.above-the-fold__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.above-the-fold__cta-1,
.above-the-fold__cta-2 {
  display: block;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.015em;
  padding: 0.5rem 0;
  min-width: 8rem;
  text-align: center;
  text-decoration-line: none;
}

.above-the-fold__cta-1 {
  color: #c7d0d6;
  background: #242b32;
  border: 1px solid #242b32;
}

.above-the-fold__cta-2 {
  border: 1px solid #242b32;
  color: #242b32;
}

.works__title {
  margin-top: 3.75rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.085em;
  text-transform: uppercase;
}

.works__list {
  margin-top: 3.375rem;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.works__list-item {
  font-family: "Cormorant Garamond", serif;
  list-style-type: none;
  font-weight: 700;
  font-size: 1.3216rem;
  text-transform: uppercase;
}

.about {
  margin-top: 7rem;
}
.about__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1.176rem;
  letter-spacing: 0.085em;
  text-transform: uppercase;
}

.about__subtitle {
  margin-top: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
}

.about__profile-photo-wrapper {
  display: flex;
  justify-content: end;
}

.about__profile-photo {
  margin-top: 2.6875rem;
  margin-right: 0.4375rem;
}

.contact {
  margin-top: 5.5rem;
  padding-bottom: 3.75rem;
}

.contact__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1.3022rem;
  letter-spacing: 0.085em;
  text-transform: uppercase;
}

.contact__contact-list {
  gap: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__contact-item {
  font-weight: 400;
  font-size: 1.0128rem;
  letter-spacing: 0.085em;
  text-decoration-line: underline;
  list-style-type: none;
}

.contact__contact-item-pdf-weight {
  display: block;
  text-align: left;
  color: #5e7082;
  font-weight: 600;
  font-size: 0.6rem;
}

.about-contact-wrapper__photo {
  display: none;
}

@media (min-width: 500px) {
  section {
    margin: 1rem 2rem;
  }

  .above-the-fold__container {
    display: flex;
    align-items: flex-end;
  }

  .above-the-fold__title {
    font-size: 2rem;
  }

  .above-the-fold__subtitle {
    font-size: 7.6344rem;
  }

  .above-the-fold__buttons {
    gap: 2rem;
    margin-bottom: 2.5rem;
  }

  .works__title {
    font-size: 1.6875rem;
  }

  .works__list-item {
    font-size: 3.5481rem;
  }

  .about-contact-wrapper {
    display: flex;
    margin-top: 13rem;
    align-items: center;
  }

  .about-contact-wrapper__photo {
    display: block;
  }

  .about,
  .contact {
    margin: 0;
  }

  .about__profile-photo {
    display: none;
  }

  .about__title,
  .contact__title {
    font-size: 1.6875rem;
  }

  .about__subtitle {
    font-size: 1.3125rem;
    line-height: 2rem;
  }

  .texts {
    margin: 0 5.625rem;
  }

  .contact {
    margin-top: 10rem;
  }

  .contact__contact-list {
    margin-top: 1rem;
  }

  .contact__contact-item {
    font-size: 1.3125rem;
  }
}

@media (min-width: 1400px) {
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #c7d0d6;
    background-color: #242b32;
  }

  ::-moz-selection {
    background: #c7d0d6;
    color: #242b32;
  }

  ::selection {
    background: #c7d0d6;
    color: #242b32;
  }

  a,
  button {
    color: #c7d0d6;
  }

  .above-the-fold__cta-1 {
    color: #242b32;
    background: #c7d0d6;
    border: 1px solid #c7d0d6;
  }

  .above-the-fold__cta-2 {
    border: 1px solid #c7d0d6;
    color: #c7d0d6;
  }

  .contact__contact-item-logo {
    fill: #c7d0d6;
  }
}
